

<div class='bg-primary-subtle'>
  
  <h2 class='text-center fs-5 p-2'>Medicine Note  について</h2>
  <ul class='nav justify-content-center'>
    <li class="nav-item"><%= link_to '会社概要（運営会社)', "#", class: "nav-link text-black" %></li>
    <li class="nav-item"><%= link_to 'プライバシーポリシー', "#", class: "nav-link text-black" %></li>
    <li class="nav-item"><%= link_to 'Medicine-Note利用規約', "#", class: "nav-link text-black" %></li>
  </ul>
  
</div>