
<%= @patient.patient_name %>さんのページ
<div class="patient-info">
  <h2>患者情報</h2>
  <p>名前: <%= @patient.patient_name %></p>
  <p>誕生日: <%= @patient.birthdate %></p>
  <p>性別: <%= @patient.gender %></p>
</div>

<div class="today-prescriptions">
  <h2>今日の処方</h2>
  <ul>
    
  </ul>
</div>

<div class="next-appointment">
  <h2>次の診察予約</h2>
  
    <p>次の予約はありません。</p>
</div>
