<%= render "shared/header" %>

<%# メイン画像広告 %>


<%# メリット %>
<div class='merit-contents'>
  <h2 class='merit-title'>
    お薬手帳アプリのメリット
  </h2>
  <div class='merit-list>
    <div class='merit-item'>
      <img src='merit1.png' alt=''>
      <p class='merit-text'>
        いつでもどこでもお薬手帳が確認できる
      </p>
    </div>
    <div class='merit-item'>
      <img src='merit2.png' alt=''>
      <p class='merit-text'>
        お薬の飲み忘れを防ぐ
      </p>
    </div>
    <div class='merit-item'>
      <img src='merit3.png' alt=''>
      <p class='merit-text'>
        診察予約を確認できる
      </p>  
    </div>
  </div>

<%# 使い方 %>
  
    <%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    だれでもかんたん、お薬手帳アプリ
  </p>
  <h2 class='ad-footer-title'>
    今すぐ無料ダウンロード！
  </h2>
  <div class='store-btn'>
    <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
    <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
  </div>
</div>
<%# /下部広告部分 %>
<%= render "shared/footer" %>