<iframe loading="lazy" style="position: relative; width: 100%; height: 600px; max-height: 80vh; border: none; border-radius: 8px; padding: 0; margin: 0; overflow: hidden;"
      src="https://www.canva.com/design/DAFkT0rTSwo/r1q64nm2Bb3D_g_fppI4mQ/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
    </iframe>
    Shuhei Mizutaさんによる<a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFkT0rTSwo&#x2F;r1q64nm2Bb3D_g_fppI4mQ&#x2F;view?utm_content=DAFkT0rTSwo&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">デザイン</a>